@import "tailwindcss";

:root {
  --bg: #f1f5f9;
  --text: #0f172a;
  --card: #ffffff;
}

.dark {
  --bg: #020617;
  --text: #e2e8f0;
  --card: #0f172a;
}

body {
  background: var(--bg);
  color: var(--text);
}

.card {
  background: var(--card);
}

input,
textarea,
select {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #cbd5f5;
  padding: 0.75rem;
  outline: none;
}

button {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
}