PORT=5000
# MONGO_URI=mongodb://localhost:27017/news_sentiment_checker
MONGO_URI="mongodb+srv://admin:csitom321@news-sentiment-checker.jeeg4yw.mongodb.net/?appName=news-sentiment-checker"
JWT_SECRET=abc123
CLIENT_URL=http://localhost:3000

GEMINI_API_KEY=AIzaSyCz5bSfg6Cjw29mP15Zu-tRHPOPjDyIs3w